body { background: #e4f9e8; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 21px; display: flex; }
.block-auth-0 { color: #46900a; font-size: 14px; margin-bottom: 5px; }
.block-cluster-1 { color: #fd3af5; font-size: 21px; margin-bottom: 5px; }
.block-config-2 { color: #2f3834; font-size: 18px; margin-bottom: 5px; }
.block-order-3 { color: #15776c; font-size: 20px; margin-bottom: 5px; }
.block-shipping-4 { color: #b5a8a7; font-size: 19px; margin-bottom: 5px; }
.block-filter-5 { color: #a1a951; font-size: 16px; margin-bottom: 5px; }
.block-logger-6 { color: #5e754a; font-size: 18px; margin-bottom: 5px; }
.block-auth-7 { color: #c74676; font-size: 14px; margin-bottom: 5px; }